<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    {% set page_name = 'About Page' %}
    {% include('menu.html') %}

    <h2>About me...</h2>
    <h3>University: {{ uni }}</h3>

    <h3>Profile Details:</h3>
    <ul>
        {% for key, value in profile.items() %}
            <li>{{ key }}: {{ value }}</li>
        {% endfor %}
    </ul>

    <h3>Degrees:</h3>
    <ol>
        <li>{{ degrees[0] }}</li>
        <li>{{ degrees[1] }}</li>
    </ol>

    <h3>Hobbies:</h3>
        <ol>
            <li>{{ hobbies[0] }}</li>
            <li>{{ hobbies[1] }}</li>
            <li>{{ hobbies[2] }}</li>
        </ol>
</body>
</html>