<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    {% set page_name = 'Main Page' %}
    {% include('menu.html') %}

    <!--  the true in default('new', true) ignores empty values like '' -->
    {% if name %} <!-- if name exists -->
        <h2>Hello {{ name | default('New', true) | upper() }} {{ last_name | default('User', true) | upper() }}!</h2>
    {% else %}
        <h2>You need to log in!</h2>
        <h3>Check out our new <a href="/catalog">catalog</a>.</h3>
    {% endif %}
</body>
</html>