{% extends 'base.html' %}

{% block title %}
    Assignment8
{% endblock %}

{% block body %}
    {{ super() }}
    <!--    filter -->
    {%  if session.username %}
    <h2>Hello {{ session.username }} </h2>
    {% else %}
    <h2>Hello {{ name | default('New', true) | upper() }} {{ last_name | default('User', true) | capitalize() }}!</h2>
    {% endif %}


    {% if name %}
        <p>How are you?</p>
    {% else %}
        <p>You need to log in!</p>

       {% endif %}
<!-- loop -->
<h3>List of hobbies:</h3>
        <ul>
            {% for key, value in profile.items() %}
                <li>{{ key }}: {{ value }}</li>
            {% endfor %}
        </ul>


{% endblock %}
