<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assignment 11 - Outer Source</title>
</head>
<body>
    {% include('menu.html') %}

<!--    frontend -->
    <h2> Request Frontend </h2>
    <input type="number" name="number" id="f_number"/>
    <button onclick="myFunction()">Click me</button>

    <script src="../static/JS/Assignment11.js"></script>

<!--    backend -->
    <h2> Request Backend </h2>
    <form action="/assignment11/OuterSource" method="get">
        <input type="number" name="number" id="b_number">
        <input type="submit" value="Click me">
    </form>

<!--    output-->
    <main>
        {% if user %}
            <img src="{{ user.avatar }}" alt="Profile Picture"/>
            <div>
                <span>{{ user.first_name + " " + user.last_name }}</span>
                <br>
                <a href="mailto:{{ user.email }}">Send Email</a>
                <br><br>
            </div>
        {% endif %}
    </main>

</body>
</html>